@font-face{
    font-family: robotoMedium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf)
}

@font-face{
    font-family: robotoLight;
    src: url(../fonts/Roboto/Roboto-Light.ttf)
}

:root{
    --notImportant: #32CD32;
    --important: #fcba03;
    --urgent: #d90019;

    --greybg: #f7f7f7;
    --greytext: rgb(128,128,128);
}
.background-gradient {
    background: #6037b3;
    background-image: linear-gradient(60deg ,#8E2DE2 0%, #4A00E0 100%);
    color: white;
    height: 100px;
    width: 75%;
    margin: 0 auto;
    padding-left: 30px;
    padding-top: 50px;
    font-family: robotoLight;
    font-size: 2.5em;
}

.greyheader{
    margin-left: 11.7%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: robotoLight;
    font-size: 1.2em;
    color: var(--greytext);
}

.create-todo input[type=text] {
    display: block;
    margin: 0 auto;
    padding: 0.65rem 0.8rem;
    width: 75%;
    font-size: 1.2rem;
    font-family: robotoLight;
}

.create-todo .options{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 11.7%;
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
    width: 76.6%;
}

.create-todo .options label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--greybg);
    font-family: robotoLight;
    color: var(--greytext);
    cursor: pointer;
}

input[type=radio], input[type="checkbox"] {
    display: none;
}

.marker{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    border-radius: 50%;
    border: 2px solid var(--notImportant);
}

.marker.important{
    border-color: var(--important);
}

.marker.urgent{
    border-color: var(--urgent);
}

/* I decided to disable transition as I wanted my website to have a minimalistic look. Go ahead and uncomment transition if you want the transitions*/
.marker::after{
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--notImportant);
    border-radius: 50%;
    /* transition: 0.2s ease-in-out; */
}

.marker.important::after{
    background-color: var(--important);
}

.marker.urgent::after{
    background-color: var(--urgent);
}

input:checked ~ .marker::after{
    width: 20px;
    height: 20px;
    opacity: 1;
}

.create-todo input[type="submit"] {
    display: block;
    width: 76.6%;
    height: 50px;
    background: #ffbb00;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: robotoLight;
    font-size: 1em;
    margin: 0 auto;
}

.create-todo input[type="submit"]:hover{
    opacity: 0.75;
    transition: 0.15s ease-in-out;
}

.todo-list .list {
    margin: 1rem 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: var(--greybg);
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 1rem;
}

.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content {
    flex: 1 1 0%;
}


.todo-item .todo-content input {
    color: var(--greytext);
    border: none;
    background-color: var(--greybg);
    width: 75%;
    font-size: 1.2rem;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    border: none;
}

.todo-item .actions .edit {
    margin-right: 0.5em;
    background-color: #28ba00;
}

.todo-item .actions .delete {
    background-color: #ff6219;
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--greytext);
}